@media (min-width: 375px) {
  .nav-container {
    display: flex;
    margin: -30px 0px 0px -28px;
    color: hsl(224, 21%, 14%);
  }
  .nav-container h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
  .nav-container button {
    font-family: "Plus Jakarta Sans", sans-serif;
    border: 1.5px solid hsl(219, 85%, 26%);
    background-color: hsl(219, 85%, 26%);
    padding: 2px 2px 2px 2px;
    font-size: 14px;
    margin: 14px 14px 0px 9px;
    height: 23px;
    width: 30px;
    border-radius: 5px;
  }
  .nav-container span {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 19px 0px 0px 62px;
    font-size: 13px;
    color: hsl(219, 12%, 42%);
  }
}
